# Ignore build artifacts
bin/
obj/

# Ignore NuGet packages
*.nupkg

# Ignore user-specific files and settings
*.user
*.suo
*.sln.docstates

# Ignore Visual Studio files
.vs/

# Ignore Resharper files
_ReSharper*/

# Ignore build logs and test results
*.log
TestResults/

# Ignore publish profiles
*.pubxml

# Ignore Visual Studio Code files
.vscode/

# Ignore macOS specific files
.DS_Store